{% extends "paigow/base_site.html" %}
{% load paigow_extras %}

<!-- 'content' block is placed in base_site.html; override it here to show this content. -->

{% block form_validation %}

  <script language="javascript">

    function validate_form( form, form_name )
    {
      if ( !validate_field( form_name, 'name', "please provide a name for the game" ) )
        return false;

      return true;
    }
  
  </script>

{% endblock %}

{% block content %}
  <form class="form-horizontal" method="POST" action="add" onsubmit="return validate_form( this, 'game')" >
    {% csrf_token %}
    <div class="control-group">
      <div class="controls">
        <p class="lead">Please enter the game settings for the new game</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="game_name">Name</label>
      <div class="controls">
        <input type="text" id="game_name" name="game_name" placeholder="Game name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="game_name">Opponent</label>
      <div class="controls">
        <select id="game_opponent" name="game_opponent">
          {% if opponents %}
            {% for opponent in opponents %}
              <option value="{{ opponent.id }}">{{ opponent }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
    <br>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Create Game</button>
      </div>
    </div>
  </form>
{% endblock %}
