{% extends "paigow/base_site.html" %}
{% load paigow_extras %}{% load static %}

<!-- 'content' block is placed in base_site.html; override it here to show this content. -->

{% block extra-stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static "css/pgtile.css" %}" />
{% endblock %}

{% block content_title %}<br><p class="lead"><font style="font-size:30px;font-weight: bold;"><strong>{{ player.name }}</strong>&nbsp;&nbsp;&nbsp;( {{ overall_record }} )</font></p>{% endblock %}

{% block content %}

  <!-- The user is logged in (or they wouldn't be at this page) so show games -->

  {% if all_opponents_in_all_games %}
      {% for opponent in all_opponents_in_all_games %}
      	{% show_opponent_summary opponent %}
      {% endfor %}
  {% endif %}

{% endblock %}
