{% extends "paigow/base_site.html" %}
{% load paigow_extras %}

<!-- 'content' block is placed in base_site.html; override it here to show this content. -->

{% block content_title %}<h1>Home</h1>{% endblock %}

{% block content %}

  <p class="lead">You are a player in the following games:</p>
  <!-- The user is logged in (or they wouldn't be at this page) so show games -->
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Opponent</th>
        <th>Score</th>
        <th>Start date</th>
        <th>Finish date</th>
      </tr>
    </thead>
  {% if games %}
      {% for game in games %}
        <tr>
          <td><a href="game/{{ game.id }}/{{ game.current_deal_number }}">{{ game.name }}</a></td>
          <td>{{ game|opponent_for_game:player }}</td>
          <td>TBD</td>
          <td>{{ game.start_date }}</td>
          <td>{{ game.finish_date }}</td>
        </tr>
      {% endfor %}
  {% endif %}
  </table>

{% endblock %}
