{% extends "paigow/base_site.html" %}
{% load paigow_extras %}

<!-- 'content' block is placed in base_site.html; override it here to show this content. -->

{% block content_title %}<h1>Games</h1>{% endblock %}

{% block content %}

  <!-- The user is logged in (or they wouldn't be at this page) so show games -->
  {% if all_opponents_in_all_games %}
      {% for opponent in all_opponents_in_all_games %}
      	{% show_opponent_summary opponent %}
      {% endfor %}
  {% endif %}

{% endblock %}
