{% load static %}{% load paigow_extras %}
  <br>
  <p>
    <span class="lead"><strong>{{ record_against_opponent }}</strong> record against <strong>{{ opponent.name }}</strong></span>
    <span class="pull-right" style="margin-right:80px;"><a href="/paigow/game/new/{{ opponent.id }}">Start a new game against {{ opponent.name }}</a></span>
  </p>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Game</th>
        <th>Score</th>
        <th>Start time</th>
        <th>Finish time</th>
      </tr>
    </thead>
  {% if games %}
      {% for game in games %}
      	{% show_game_summary game %}
      {% endfor %}
  {% endif %}
  </table>


