{% load paigow_extras %}
<div class="pgtile-div pgtile-div-{{ pgtile_size }}-0" id="{{ pgset_id }}_0_tile_div">{% tile_image pgset.tiles.0 pgtile_size pgset_id|add:"_0" %}</div>
<div class="pgtile-div pgtile-div-{{ pgtile_size }}-1" id="{{ pgset_id }}_1_tile_div">{% tile_image pgset.tiles.1 pgtile_size pgset_id|add:"_1" %}</div>
<div class="pgtile-div pgtile-div-{{ pgtile_size }}-2" id="{{ pgset_id }}_2_tile_div">{% tile_image pgset.tiles.2 pgtile_size pgset_id|add:"_2" %}</div>
<div class="pgtile-div pgtile-div-{{ pgtile_size }}-3" id="{{ pgset_id }}_3_tile_div">{% tile_image pgset.tiles.3 pgtile_size pgset_id|add:"_3" %}</div>
