{% load paigow_extras %}
<div class="tile_div_{{ tile_size }}_0" id="{{ pgset_id }}_0_tile_div">{% tile_image pgset.tiles.0 tile_size pgset_id|add:"_0" %}</div>
<div class="tile_div_{{ tile_size }}_1" id="{{ pgset_id }}_1_tile_div">{% tile_image pgset.tiles.1 tile_size pgset_id|add:"_1" %}</div>
<div class="tile_div_{{ tile_size }}_2" id="{{ pgset_id }}_2_tile_div">{% tile_image pgset.tiles.2 tile_size pgset_id|add:"_2" %}</div>
<div class="tile_div_{{ tile_size }}_3" id="{{ pgset_id }}_3_tile_div">{% tile_image pgset.tiles.3 tile_size pgset_id|add:"_3" %}</div>
