{% extends "paigow/base_site.html" %}
{% load paigow_extras %}

{% block content_title %}<H1>Please register or log in{% endblock %}

{% block form_validation %}

  <script language="javascript">

    function validate_email( form_name, field_name, error_str )
    {
      email_field = field_from_name( form_name, field_name );
      var email_regexp = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,20})+$/;
      if ( !email_regexp.test( email_field.value ) )
      {
        return show_error( form_name, field_name, error_str );
      }
      else
      {
        return true;
      }
    }

    function validate_form( form, form_name )
    {
      if ( !validate_field( form_name, 'username', "please provide a username" ) )
        return false;
  
      if ( !validate_field( form_name, 'password', "please provide a password" ) )
        return false;

      if ( form_name == 'register' )
      {
        if ( !validate_field( form_name, 'email', "please provide an email address" ) )
          return false;
        else if ( !validate_email( form_name, 'email', "please provide an email address that looks like one" ) )
          return false;
  
        if ( !validate_field( form_name, 'confirm_password', "please confirm the password" ) )
          return false;

        password_field = document.getElementById( 'register_password' );
        confirm_password_field = document.getElementById( 'register_confirm_password' );
        if ( password_field.value != confirm_password_field.value )
        {
          alert( "password and password confirmation must match" );
          return false;
        }
        
      }

      return true;
    }
  </script>

{% endblock %}


<!-- 'content' block is placed in base_site.html; override it here to show this content. -->

{% block content %}
  <table>
    <tr>
      <td valign="top">
        <form class="form-horizontal" id="login" method="POST" action="login" onsubmit="return validate_form( this, 'login' );">
          {% csrf_token %}
          <div class="control-group">
            <div class="controls">
              <p class="lead">Returning users please login here</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputUsername">Username</label>
            <div class="controls">
              <input type="text" name="login_username"
                    id="login_username" placeholder="Username"
                    {% if username %}value="{{username}}"{% endif %}>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" name="login_password" id="login_password" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
              <input type="checkbox" name="login_remember_me"> Remember me
              </label>
              <br>
              <button type="submit" class="btn">Sign in</button>
            </div>
          </div>
        </form>
      </td>
      <td valign="top">
        <form class="form-horizontal" method="POST" action="register" onsubmit="return validate_form( this, 'register' );">
          {% csrf_token %}
          <div class="control-group">
            <div class="controls">
              <p class="lead">New users please register here</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="register_username">Username</label>
            <div class="controls">
              <input type="text" name="register_username"
                    id="register_username" placeholder="Username"
                    {% if username %}value="{{ username }}"{% endif %} >
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="register_email">Email</label>
            <div class="controls">
              <input type="text" name = "register_email"
                    id="register_email" placeholder="Email"
                    {% if email %}value="{{ email }}"{% endif %} >
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="register_password">Password</label>
            <div class="controls">
              <input type="password" name="register_password" id="register_password" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="register_confirm_password">Confirm Password</label>
            <div class="controls">
              <input type="password" id="register_confirm_password" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
              <input type="checkbox" id="register_remember_me" name="register_remember_me">Remember me
              </label>
              <br>
              <button type="submit" class="btn">Register</button>
            </div>
          </div>
        </form>
      </td>
    </tr>
  </table>
  <br>
  <p class="text-info"><span class="label btn-small label-info">IMPORTANT WARNING</span> Passwords are sent in the clear and kept in the clear, do not use the passwords similar to any other site.</p>

{% endblock %}
