{% load static %}{% load paigow_extras %}{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if language_bidi %}dir="rtl"{% endif %}>
<head>
<meta charset="utf-8">

  <title>{% block title %}{% title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles, within 'block stylesheet' so it can be overriden -->
  {% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/docs.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/js/google-code-prettify/prettify.css" %}" />
  <style>
    body {
      padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  {% endblock %}
  {% block extra-stylesheet %}{% endblock %}
  
  <!-- Any extra headers for pages that extend this one -->
  {% block extrahead %}{% endblock %}
  
  <!-- Form validation utilities for anything that needs to; pages that don't can override this block -->
  {% block form_validation_utilities %}

    <script language="javascript">
  
      function field_from_name( form_name, field_name )
      {
        element_name = form_name + "_" + field_name;
        field = document.getElementById( element_name );
        if ( field == null )
        {
          alert( "This page has been corrupted.  Click 'OK' to delete the contents of your boot disk." );
        }
  
        return field;
      }
      
      function show_error( form_name, field_name, error_str )
      {
        field = field_from_name( form_name, field_name );
        alert( "To " + form_name + ", " + error_str );
        field.focus();
        return false;
      }
  
      function validate_field( form_name, field_name, error_str )
      {
        element_name = form_name + "_" + field_name;
        field = field_from_name( form_name, field_name );
        if ( field.value == null || field.value == "" )
        {
          return show_error( form_name, field_name, error_str );
        }
        else
        {
          return true;
        }
      }
    
    </script>
  {% endblock %}
  
  <!-- add form validation overrides to this block -->
  {% block form_validation %}{% endblock %}

  <!-- Don't want search engines to find us! ... inside a block so it can be overriden -->
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    <!-- Fav and touch icons -->
    <!--
      <link rel="shortcut icon" href="/static/bootstrap/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/bootstrap/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/bootstrap/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/static/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    -->

</head>
{% load i18n %}

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <!-- Nav bar -->  
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!--  if the window gets too narrow, this puts three horizontal bars on the right
                edge of the navbar that will open up a menu with the options when clicked. -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a class="brand" href="/paigow">{% block branding %}{% endblock %}</a></li>
              <li class="active"><a href="{{ home_url }}">Home</a></li>
               {% for activity in activities %}
                 <li class="{{ activity.class}}"><a href="{{activity.url}}">{{ activity.name }}</a></li>
               {% endfor %}
              {% block nav-global %}{% endblock %}
            </ul>
            {% if request.session.player_id %}
              <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                  <a href="#" id="user-dropdown" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ playername }}&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="user-dropdown">
                    <li><a tabindex="-1" href="{{ logout_url }}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            {% endif %}
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- Container -->
    <div class="container" id="container">
    
      {% block messages %}
          {% if messages %}
            <br>
            <ul class="messagelist">
              {% for message in messages %}
                <li{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
      {% endblock messages %}
    
      <!-- Page Header -->
      <div class="page-header">
        {% block pretitle %}{% endblock %}
        {% block content_title %}<h1>PaiGow 321 Home</h1>{% endblock %}
      </div>

      <!-- Content -->
      <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block content %}
          {% block object-tools %}{% endblock %}
          {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear" />
      </div>
      <!-- END Content -->

    </div> <!-- /container -->

    <!-- Footer
    ================================================== -->
    {% block footer %}
      <footer class="footer">
        <div class="container">
          <p class="pull-right"><a href="#">Back to top</a></p>
          Designed and built by Rudi Sherry and Dave Wrubel<br>
          Pages based on Twitter-Bootstrap by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.<br>
          Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.<br>
          If you see glyphs, they from <a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.<br>
        </div>
      </footer>
    {% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block jquery-utilities %}
      <script src="{% static "jquery-ui-1.9.2/js/jquery-1.8.3.js" %}"></script>
      <script src="{% static "jquery-ui-1.9.2/js/jquery-ui-1.9.2.custom.min.js" %}"></script>
  
      <script language="javascript">

        // Execute this when the document is ready, prepare all the objects
        $(document).ready(
          function()
          {
          {% block jquery-doc-ready %}{% endblock %}
          }
        );

      </script>
    {% endblock %}
    
    {% block bootstrap-utilities %}
      <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap-affix.js" %}"></script>
    {% endblock %}

  </body>
</html>
