/* Styles for tile sprites */

/* --------------------- All sizes ----------------------	*/

.pgtile {
  float:left;
  margin-right:5px;
  background-image:url('/static/pgtiles.jpg');
  src:url('/static/img_trans.gif');
}

.pgtile-player {
}

.pgtile-opponent {
	background-position: 0px 0px;
}

.pgtile-div {
	position: absolute;
	top: 0px;
	z-index: 10;
}

.player-deal-label {
  position: absolute;
  top: 0px;
  left: 25px;
}

.player-name {
	font-weight: bold;
	font-size: 18px;
}

.paigow321-deal {
	position: relative;
}

.pgset {
	position: absolute;
}

.pgset-button-switch {
	position: absolute;
	left: 0px;
	cursor: pointer;
}

.pgset-action-buttons {
	position: absolute;
    left: 20px;
    width: 130px;
    text-align: right;
}

.pgset-action-button {
    width: 110px;
}

.pghand-labels {
	position: absolute;
	font-weight: bold;
	font-size: 18px;
}

.pgscore-in-deal {
	position: absolute;
	text-align: center;
	font-weight: bold;
}	

.pgtile-ease-in-out {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
}

.rotated {
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg); 
}

.unrotated {
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg); 
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg); 
}

/* ------------------------ Large ------------------------	*/

.pgtile-large {
  height: 250px;
  width: 100px;
  background-size:600%;
}

.pgset-large {
	height: 280px;
	width: 440px;
}

.paigow321-deal-large {
	height: 900px;
}

.pgtile-div-large-0 {
	left: 0px;
}

.pgtile-div-large-1 {
	left: 110px;
}

.pgtile-div-large-2 {
	left: 220px;
}

.pgtile-div-large-3 {
	left: 330px;
}

.pgset-large {
	height: 280px;
	width: 640px;
}

.pgset-large-1 {
	top: 100px;
}

.pgset-large-2 {
	top: 400px;
}

.pgset-large-3 {
	top: 700px;
}

/* ------------------------ Medium -----------------------	*/

.pgtile-medium {
  height: 125px;
  width: 50px;
  background-size:600%;
}

.paigow321-deal-medium {
	width: 330px;
	height: 500px;
}

.player-deal-label-medium {
  left: 25px;
}

.pgset-action-buttons-medium {
    top: 160px;
}

.pgtile-div-medium-0 {
	left: 25px;
}

.pgtile-div-medium-1 {
	left: 80px;
}

.pgtile-div-medium-2 {
	left: 165px;
}

.pgtile-div-medium-3 {
	left: 220px;
}

.pgset-medium {
	height: 140px;
	width: 350px;
	left: 0px;
}

.pgset-medium-1 {
	top: 10px;
}

.pgset-medium-2 {
	top: 200px;
}

.pgset-medium-3 {
	top: 390px;
}

.pghand-labels-medium {
	top: 130px;
	width: 105px;
	height: 34px;
	text-align: center;
}

.pghand-labels-medium-0 {
	left: 25px;
}

.pghand-labels-medium-1 {
	left: 165px;
}

.pgset-button-switch-medium-1 {
	top: 205px;
}

.pgset-button-switch-medium-2 {
	top: 395px;
}

.pgscore-in-deal-medium {
	font-size: 24px;
}

/* ------------------------ Small -----------------------	*/

.pgtile-small {
  height: 63px;
  width: 25px;
  background-size:600%;
}

.paigow321-deal-small {
	height: 225px;
}

.pgtile-div-small-0 {
	left: 0px;
}

.pgtile-div-small-1 {
	left: 28px;
}

.pgtile-div-small-2 {
	left: 56px;
}

.pgtile-div-small-3 {
	left: 84px;
}

.pgset-small {
	height: 70px;
	width: 160px;
}

.pgset-small-1 {
	top: 25px;
}

.pgset-small-2 {
	top: 100px;
}

.pgset-small-3 {
	top: 175px;
}

