/* Styles for tile sprites */

.pgtile {
  float:left;
  margin-right:5px;
  background-image:url('/static/pgtiles.jpg');
  src:url('/static/img_trans.gif');
}

.pgtile-large {
  height: 250px;
  width: 100px;
  background-size:600%;
}

.pgtile-medium {
  height: 125px;
  width: 50px;
  background-size:600%;
}

.pgset-medium {
	height: 160px;
	width: 220px;
}

.pgtile-small {
  height: 63px;
  width: 25px;
  background-size:600%;
}

